title {

}

body{
  background-color: lightcyan;

}
.resize{
  width:100px;
  height:100px;
}
.header {
    background-image: url("game-of-thrones-heads.jpg");

}
.person-info{

}
.person_image{

  width: 100px;
  height: 125px;
  position: relative;
  left: 625px;
  top: 175px;
}

.nav{

}

h1, h2,h2 {

}
.day-box.PREP {
  position: relative;
  top: 175px;
border: 2px solid red;
border-style:dashed;
border-radius: 5px;
padding: 5px;
margin: 10px;
}
.day-box.CURRENT {
  position: relative;
  top: 175px;
border: 2px solid red;
border-style:dashed;
border-radius: 5px;
padding: 5px;
margin: 10px;
}

.day-box.COMPLETED {
  position: relative;
  top: 175px;
border: 2px solid red;
border-style:dashed;
border-radius: 5px;
padding: 5px;
margin: 10px;
}

.day {

}

.reading-box {

}

.prep-box{

}

.assignment_link{

}

.lab-box {

}
